html, body {
  font-family: "Open Sans", sans-serif;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

body {
  background-color: white;
  height: 100vh;
  width: 100vw;
}

.noselect {
  user-select: none; /* Non-prefixed version, currently supported by Chrome, Opera and Firefox */
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
}

.content {
  position: relative;
  width: 70%;
  margin: 10rem auto;
}

.hidden {
  display: none;
}

.header-back-button-div {
  width: 75%;
  margin: auto;
  padding-right: 5rem;
}

.h1-recommendations {
  color: black;
  font-weight: 700;
  font-size: 2.5rem;
  text-align: left;
  margin: auto;
  padding: 6rem 0;
  opacity: 0;
}

.back-button {
  border: 1px;
  border-color: #033dff;
  border-radius: .5rem;
  border-style: solid;
  background-color: #033dff;
  color: white;
  cursor: pointer;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-size: 1.35rem;
  padding: 1rem 2rem;
  text-decoration: none;
  letter-spacing: .25rem;
  filter: drop-shadow(.25rem .25rem .5rem silver);
  overflow: hidden;
  transition: all .3s;
  opacity: 0;
}

.back-button:hover {
  border-color: #1d51ff;
  background-color: #1d51ff;
  filter: drop-shadow(.25rem .5rem .5rem silver);
}

.back-button:focus {
  outline: 0;
}

.fa-arrow-left {
  padding-right: .75rem;
}

p {
  color: dimgray;
  font-size: 1.85rem;
  font-weight: 400;
  text-align: left;
  line-height: 3.5rem;
  width: 100%;
  padding-top: 3.5rem;
}

/* Comments Section */
.comments {
  width: 100%;
}

.comment-container {
  border: 1px solid transparent;
  border-radius: 30px;
  margin: 5rem auto;
  padding: 2.5rem;
  width: 75%;
  box-shadow: 15px 15px 30px #bebebe,
             -15px -15px 30px #ffffff;
}

.comment-container-delay {
  opacity: 0;
}

.comment-container .comment-photo {
  border: 1px solid transparent;
  border-radius: 15px;
  height: 5rem;
  width: 5rem;
}

.comment-container .comment-name {
  font-size: 16px;
  width: 100%;
  padding: 0;
}

.comment-container .comment-text {
  font-size: 12.5px;
  line-height: 1.75rem;
  padding: 0;
}

/* Footer Section */
footer {
  top: 10%;
  margin: 1rem auto 2rem;
  width: 70%;
  opacity: 0;
}

.copyright {
  color: #5e5e5e;
  font-size: .8rem;
}
